[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pillow = "*"
numpy = "*"
torchvision = "*"
scikit-learn = "*"
embedding_inspector = {path="../../", editable=true}

[dev-packages]

[requires]
python_version = "3.8"
